name: Metrics
permissions:
  contents: write

on:
  schedule:
    - cron: "0 */6 * * *"   # every 6 hours
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: agrpranjal07
          template: classic
          base: activity, repositories
          config_timezone: Asia/Kolkata

          # Plugins
          plugin_lines: yes
          plugin_followup: yes
          plugin_achievements: yes
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_sections: most-used
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_calendar: yes
